<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <div class="navbar-brand col-sm-3 col-md-2 mr-0" >
    <button class="navbar-toggler d-lg-none d-xl-none d-md-block mr-3" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="text-light text-decoration-none "><%= gTitle %></a>
    
  </div>

  <ul class="navbar-nav px-3 d-none d-md-block">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="/users/logout">Sign out</a>
    </li>
  </ul>

  <div class="collapse d-lg-none d-xl-none" id="navbarToggleExternalContent">
    <div class="bg-dark p-4 ">
      <ul class="nav flex-column " id="navbarMenu">

        <li class="nav-item">
          <a class="nav-link" href="/users/logout">
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">Sign out</button>
          </a>
        </li>
        
      </ul>
      
    </div>
  </div>

</nav>