[Unit]
Description=Oil Vending Machines
After=network.target

[Service]
Environment=NODE_PORT=3000
Type=simple
# Another Type option: forking
User=pi
WorkingDirectory=/home/pi/myapp/
ExecStart=/usr/bin/node bin/www
Restart=on-failure
# Other Restart options: or always, on-abort, etc
RestartSec=30s

[Install]
WantedBy=multi-user.target

# sudo cp oil-vm.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl start oil-vm
# sudo systemctl status oil-vm
# sudo systemctl enable oil-vm